*{
    padding: 0;
    margin: 0;

}
/* h1,h2,h3,p,a{
    font-family: ' Oswald ', sans-serif;
} */
h1,h2,h3,p,a{
    font-family: ' Roboto ', sans-serif;
}
.fixd-width{
    max-width: 1200px;

    margin: auto;
}
img{
    max-width: 100%;
}


.clearfix::after{
    content: "";
    clear:both;
    display: block;
}
.text-center{
    text-align: center;


}
.header-right{

}
.header-right span {
    font-size: 40px;
    color: #1e1be0;
    display:none;
}
.header-right ul li{
    margin-top: 15px;
    display: inline-block;
}
.header-right ul li a {
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    color: rgb(255 255 255);
    padding: 20px 25px;
    font-size: 20px;
    transition: .5s;
    line-height: 30px;
}
.header-right ul li a::after{
    
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: rgb(253, 253, 255);
    transition:  .6s;
    
}
.header-right ul li a:hover::after{
    width: 100%;
 }

.header-right ul li a:hover{
    background:#00b894 ;
}
.header{
    background:#1be0a9 ;
    height: auto;
}
.header-left{
    /* width: 30%; */
    float: left;
}
.header-right{
     /* width: 70%; */
    float: right;
}
.header-left img{
    width: 115px;
    padding: 10px;
    margin-top: 5px;

}
/* banner-secti0n */
.banner {
    background: url(https://i.ibb.co/17Q2WZW/178134199-505905787442083-5975638775884129539-n.jpg) no-repeat;
    background-size: cover;
    color: #cfcfcf;
    padding: 185px 0;
}
.banner-caption h1 {
    font-size: 70px;
    font-weight: 500;
    color: white;
    right: 400px;
}
.banner-caption p {
    font-size: 30px;
    color: white;
    margin-top: 40px;
   
}
.banner-caption a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 44px;
}
.banner-caption a:hover{
    color: #1be0a9;
    background: rgb(255, 255, 255);
}


/* .service-section */



.our-service{
    margin: 60px;
    line-height: 56px;
}
.services{
    width: 24%;
    float: left;
    margin-left: 13px;
   

}
.services h3{
    padding: 10px;
    font-size: 30px;
}
.services p{
    
        font-size: 17px;
    
}
span{
    font-size: 40px;
    color:#1be0a9 ;
}
.conteiner{
    margin-top: 60px;
    border-top: 3px solid #1be0a9;
}
.about-us{
    text-align: center;
    line-height: 56px;
    margin: 60px;
    
}
.left-content{
    float: left;

}
.right-content {
 
    }
.left-content img{
    margin:  30px;
}

.right-content h3{
    padding: 30px;
    
}
 /* contact-section */

.contact{
    background: #f6f6f6;
    
    
}

.contact-us h3{
    padding: 40px;

}
.contacts{
   padding: ;


}

.contact-item {
    padding: 126px 0;
    width: 33%;
    float: left;
   
}
.contact-item i {
    color: #1be0a9;
    margin: 0 0 9px 0;
   
}

/* footer-secti0m */
.footer{
    height: 70px;
    background:#1be0a9 ;
}
.footer ul li{
    display:inline-block;
    margin-top: 20px;
}

.footer ul li a{
    color: white;
    padding: 25px;
    font-size: 30px;
}
.footer-bottom{
    height: 20px;
    color: whitesmoke;
    background:#34495e ;
}
    











